<hr />
<div class="container container-lg mt-3">
<div class="row text-center">
  <div class="col-lg-6 mb-5">
    <a href="/jak-kupowac/">
          <img width="360" src="/assets/images/backgrounds/widget-images-jak-kupowac.jpg" class="img-fluid" alt="Jak kupować na aukcji?">
            <h4 class="font-weight-bold text-color-dark custom-text-size-2 mt-3"> Jak kupować?</h4>
    </a>
  </div>
  
  <div class="col-lg-6 mb-5">
    <a href="/jak-sprzedawac/">
          <img width="360" src="/assets/images/backgrounds/widget-images-jak-sprzedawac.jpg" class="img-fluid" alt="Jak sprzedawać na aukcji?">
            <h4 class="font-weight-bold text-color-dark custom-text-size-2 mt-3"> Jak sprzedawać?</h4>
    </a>
  </div>
</div>
</div>
