<section class="section section-height-3 bg-color-tertiary border-0">
    <div class="container container-lg">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 col-xl-6 mb-5 mb-lg-0">
                <span class="d-block custom-text-color-light-2 custom-heading-bar custom-heading-bar-with-padding font-weight-light text-5 mb-3">Aukcje i Wystawy</span>
                <h2 class="text-color-light font-weight-extra-bold text-10 negative-ls-1 pr-3 mb-3">WYSTAW U NAS SWOJE DZIEŁA </h2>
                <p class="custom-font-secondary text-4 text-color-light mb-0">Gwarantujemy bezpieczeństwo oraz pełen profesjonalizm na każdym etapie.</p>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="overflow-hidden">
                    <a href="/jak-sprzedawac/" class="btn btn-secondary btn-outline text-color-light font-weight-semibold border-width-4 custom-link-effect-1 text-1 text-xl-3 d-inline-flex align-items-center px-4 py-3">JAK TO ZROBIĆ <i class="custom-arrow-icon ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
